body{
  padding-top:119px;
}
/* per fissare le prime due righe in alto */
.fixed{
  position:fixed;
  top:0;
  width:100%;
  z-index:1;
}
.blue-color{
  color:#0069ff;
}
.mt-70{
  margin-top:70px;
}
.mt-20{
  margin-top:20px;
}
.mb-70{
  margin-bottom:70px;
}
.blue-hover:hover{
  color:#0069ff;
}
.blue{
  background: #0248ff url(https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg);
}
.dark-blue{
  background: #031b4e url(https://www.digitalocean.com/assets/media/homepage/data-center-map-20321538.svg);
}
/* per togliere la sottolineatura ai link */
a:hover{
  text-decoration:none;
}
.white{
  background-color: #f3f5f9;
}

/* per il container-fluid */
.container-fluid {
  padding:10px 30px;
  background-color: white;
  font-weight: bold;
}
/* per togliere il padding di default all'ul */
.container-fluid .col-md-6 ul {
  padding:0;
  margin:0;
}
/* per mettere le li su una riga */
.container-fluid .col-md-6 ul li{
  display: inline-block;
}
/* per la scritta New */
.container-fluid .col-md-6 .new-style{
  padding: 4px 8px;
  background-color: #00d7d2;
  color: #031b4e;
  border-radius:5px;
}
/* per il colore di General Purpose.. e di Docs, Support, Sales e Log in */
.container-fluid .col-md-6 blue-hover, .container-fluid .col-md-6 a{
  color:#5b6987;
}
/* per separare Docs, Support, Sales e Log in */
.container-fluid .col-md-6 .ml-15{
  margin-left:15px;
}

/* per il bottone Sign Up */
.white-button{
  font-weight:bold;
  border:1px solid #0069ff;
  font-size:14px;
  padding: 11px 16px 8px;
}
/* quando passo sopra il mouse */
.btn-default:hover{
  color: white;
  background-color: #0069ff;
}
/* per non lasciare margini tra navbar e la sezione */
.navbar{
  margin-bottom:0;
}
/* per la scritta DigitalOcean */
.navbar-default .navbar-brand{
  color:#0069ff;
}
/* per il colore delle scritte Marketplace, Customers, Partners.. */
.navbar-default .navbar-nav>li>a{
  color:#031b4e;
}
/* quando passo sopra il mouse */
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-brand:hover{
  color:#0069ff;
}


/* per la prima sezione, per le colonne */
.first .col-md-6, .first .col-md-4{
  position:relative;
  height:600px;
}
/* per il titolo h1 e il paragrafo p */
.first .col-md-6 h1, .first .col-md-6 p{
  color:white;
}
/* per il titolo h1 */
.first .col-md-6 h1{
  font-size:62px;
  font-weight: bold;
  margin-top:0;
}
/* per la prima colonna e la seconda */
.first .col-md-6 .dev-cloud,
.first .col-md-4 .deploy,
.first .col-md-4 i{
  position:absolute;
  top:50%;
  transform: translateY(-50%);
}
/* per il colore di Deploy in seconds e INNOVATIVE BUSINESSES TRUST DIGITALOCEAN */
.first .col-md-4 h2, .second .col-md-12 h2{
  color:#031b4e;
}
/* grassetto a Deploy in seconds e Pricing, Support e Security */
.first .col-md-4 h2,
.fifth .col-md-4 a{
  font-weight:bold;
}
/* per il p We make it simple to launch.. */
.first .col-md-6 p{
  font-size:24px;
}
/* per l'h2 Deploy in seconds */
.first .col-md-4 h2{
  font-size:30px;
}
/* per la seconda colonna della prima sezione */
.first .col-md-4 .deploy{
  background-color:white;
  padding:32px;
  border-radius:5px;
}
/* per il form della prima sezione */
.first .form-control{
  height:48px;
  padding:0 16px;
  margin:16px 0;
}
/* per il bottone Create your account */
.first .col-md-4 .green-button{
  color:white;
  background-color: #15cd72;
  width:100%;
}
/* quando passo sopra il mouse */
.first .col-md-4 .green-button:hover{
  background-color:#0cb863;
}
/* Per il colore del bottone Sign up with Google e il paragrafo piccolo sotto */
.first .col-md-4 .white-button, .first .col-md-4 small{
  color:#757575;
}
/* per il bottone Sign up with Google */
.first .col-md-4 .white-button{
  width:100%;
  box-shadow: 0 0 1px rgba(0,0,0,.12), 0 1px 1px rgba(0,0,0,.24);
  border:white;
  position:relative;
  margin:16px 0;
}
/* quando passo il mouse sopra */
.first .col-md-4 .white-button:hover{
  background-color: #eee;
}
/* per l'icona Google */
.first .col-md-4 i{
  color:orange;
  left:10px;
}
/* per la sottolineatura  Terms of Service */
.first .col-md-4 .blue-color{
  text-decoration: underline;
}


/* seconda sezione, INNOVATIVE BUSINESSES TRUST DIGITALOCEAN */
.second .col-md-12 h2{
  font-size:14px;
  opacity:.4;
}
/* per le immagini */
.second .col-md-2 img{
  width:100%;
  height:70px;
}
.second .col-md-2{
  padding:0px 32px;
}
/* per View customer stories > e INNOVATIVE BUSINESSES TRUST DIGITALOCEAN */
.second .col-md-12 .blue-color, .second .col-md-12 h2{
  font-weight: bold;
}

/* per i titoli h2 sella sezione 3, 4, 5, 6, 7 */
.third .col-md-12 h2,
.fourth .col-md-8 h2,
.fifth .col-md-12 h2,
.sixth .col-md-6 h2
.seventh .col-md-8 h2,
.eighth .col-md-12 h2{
  font-size:36px;
}
/* per il colore dei paragrafi della sezione 3, 4, 5 */
.third .col-md-12 p,
.third .col-md-4 p,
.fourth .col-md-8 p,
.fifth .col-md-4 p{
  color:rgba(3,27,78,.7);
}
/* per il paragrafo della terza e quarta sezione */
.third .col-md-12 .p-20,
.fourth .col-md-8 .p-20{
  font-size: 20px;
}
/* per l'h3 e i paragrafi della sezione 3, i paragrafi e i link della sezione 5 */
.third .col-md-4 h3, .third .col-md-4 p,
.fifth .col-md-4 p, .fifth .col-md-4 a{
  font-size:18px;
}
/* per l'icona DigitalOcean */
.third .col-md-4 i,
.fifth .col-md-4 i,
footer .col-md-4 .fa-digital-ocean{
  color:#0069ff;
}
/* per i titoli h2 e h3 della sezione 3, gli h2 della sezione 4, 5 e 7, gli h4 dela sezione 5 */
.third .col-md-12 h2,
.third .col-md-4 h3,
.fourth .col-md-8 h2,
.fifth .col-md-12 h2,
.fifth .col-md-4 h4,
.seventh .col-md-8 h2{
  color:#031b4e;
  font-weight: bold;
}
/* per l'immagine della sezione 4 e 7 */
.fourth .col-md-8 img, .seventh .col-md-8 img{
  height:auto;
  margin:30px 10%;
}
/* immagine sezione 4 */
.fourth .col-md-8 img{
  width:80%;
}
/* immagine sezione 7 */
.seventh .col-md-8 img{
  width:60%;
}

/* per le linee */
.sixth .row hr{
  width:100%;
  margin:10px 0;
  border:0.7px solid white;
  opacity:.6;
}
/* per l'h2 della sezione 6 */
.sixth .col-md-6 h2,
.sixth .col-md-2 p,
.sixth .col-md-7 p,
.eighth .col-md-12 h2{
  font-weight:bold;
  color:white;
}
/* per la grandezza del font nelle colonne 6 */
.sixth .col-md-6{
  font-size:13px;
}
/* per i paragrafi */
.sixth .col-md-7 p{
  opacity:.6;
}
/* per le scritte Test speed */
.sixth .col-md-3 a{
  color:#00d7d2;
}
.sixth .col-md-3 a:hover{
  color:#0069ff;
}
/* per il bottone Create your account della sezione 8 */
.eighth .col-md-12 .white-button{
  padding:16px 32px;
}
.eighth .col-md-12 .white-button:hover{
  background-color: white;
  opacity:.8;
  color: #0069ff;
}


footer{
  background-color: #010e28;
}
/* per la prima colonna del footer */
footer .col-md-4 p{
  margin-bottom:0;
}
footer .col-md-4 p, footer .col-md-4 .white-color{
  color:white;
  opacity:.5;
}
footer .col-md-4 ul{
  margin-top:30px;
  padding:0;
}
footer .col-md-4 ul li{
  display:inline-block;
  margin-right:10px;
  font-size:20px;
}
footer .col-md-4 a:hover,footer .col-md-2 ul li a:hover{
  opacity:1;
}
/* per le altre colonne del footer */
footer .col-md-2 h5{
  font-size:16px;
  color:white;
}
footer .col-md-2 ul{
  padding:0;
  list-style-type:none;
}
footer .col-md-2 ul li a{
  color:white;
  opacity:.5;
}


@media (max-width: 768px) {
  body{
    padding-top:0;
  }
  .fixed{
    position:relative;
  }
  header{
    display:none;
  }
  .first .col-md-6 .dev-cloud,
  .first .col-md-4 .deploy{
    position:relative;
    top:0;
    transform: none;
  }
  .first .col-md-6,.first .col-md-4{
    height:auto;
    margin:20px 0;
  }
  .fourth .col-md-8 img, .seventh .col-md-8 img{
    height:auto;
    margin:10px 0;
    width:100%;
  }
}
@media (min-width:768px) and (max-width: 992px){
  body{
    padding-top:0;
  }
  .fixed{
    position:relative;
  }
  header{
    display: none;
  }
  .first .col-md-6 .dev-cloud,
  .first .col-md-4 .deploy{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
  }
  .first .col-md-6, .first .col-md-4{
    position:relative;
    height:600px;
  }
  .second .col-md-2 img{
    width:100%;
    height:auto;
  }
  .fourth .col-md-8 img, .seventh .col-md-8 img{
    height:auto;
    margin:10px 0;
    width:100%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  body{
    padding-top:0;
  }
  .fixed{
    position:relative;
  }
  header{
    display:none;
  }
  .first .col-md-6 .dev-cloud,
  .first .col-md-4 .deploy{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
  }
  .first .col-md-6, .first .col-md-4{
    position:relative;
    height:600px;
  }
  .second .col-md-2 img{
    width:100%;
    height:auto;
  }
  .fourth .col-md-8 img, .seventh .col-md-8 img{
    height:auto;
    margin:10px 0;
    width:100%;
  }
}
